<!DOCTYPE html>

<html lang="en">

<head>
    <title>A multiplayer game built using HTML5 canvas and WebSockets</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/game.css">
</head>

<body>
<canvas id="gameCanvas"></canvas>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="javascripts/requestAnimationFrame.js"></script>
<script src="javascripts/Keys.js"></script>
<script src="javascripts/Player.js"></script>
<script src="javascripts/game.js"></script>
<script>
    // Initialise the game
    init();
    animate();
</script>
</body>
</html>